<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joy.joyapi.mapper.UserInterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.joy.joyapi.model.entity.UserInterfaceInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="interfaceId" column=" interface_id" jdbcType="BIGINT"/>
        <result property="totalNum" column="total_num" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id, interface_id,
        total_num,status,create_time,
        update_time,is_deleted
    </sql>
</mapper>
